@charset"utf-8";

* {margin: 0; padding: 0; box-sizing: border-box;}
article, aside, details, figcaption, figure, footer, header, menu, nav, section{display: block;}
li {list-style-type: none;}
a {text-decoration: none;}
body {font-size: 12px;}
img, fieldset, iframe {border: 0;}
#skip, .skip{font-size: 0; width: 0; height: 0; line-height: 0; position: absolute; left: -9999px; }
html, body{width: 100%;}
/*기본 세팅*/

/*
main-color -> rgb(89, 91, 228)
sub-color -> rgb(221, 229, 255)

gray-color -> rgb(77, 77, 77)
              rgb(88, 88, 88)
*/