@charset"utf-8";

* {margin: 0; padding: 0; box-sizing: border-box;}
article, aside, details, figcaption, figure, footer, header, menu, nav, section{display: block;}
li {list-style-type: none;}
a {text-decoration: none;}
body {font-size: 12px;}
img, fieldset, iframe {border: 0;}
#skip, .skip{font-size: 0; width: 0; height: 0; line-height: 0; position: absolute; left: -9999px; }
html, body{width: 100%;}
/*기본 세팅*/

/*
main-color -> rgb(89, 91, 228)
sub-color -> rgb(221, 229, 255)

gray-color -> rgb(77, 77, 77)
              rgb(88, 88, 88)
*/


/*pc 화면 시작*/
@media (min-width:1024px){
    header .header_banner {height: 60px; position: relative;}
    header .header_banner .header_banner_image {height: 100%; display: block; background-image: url(../images/ad_banner/header_banner_2.jpg);}
    header .header_banner .banner_close {position: absolute; top: 40px; right: 0; background-color: rgb(0, 0, 0); color: white;}
    header .header_banner .banner_close>i {color: rgb(219, 219, 219); font-size: 16px;}
    /*최상단 광고 배너*/

    header .sns_util {display: flex; justify-content: space-between; width: 1060px; margin: 0 auto;}
    header .sns_util .util {display: flex; padding: 5px 0;}
    header .sns_util .util>li {margin-left: 15px; position: relative;}
    header .sns_util .util>li:nth-child(1)::after,
    header .sns_util .util>li:nth-child(2)::after,
    header .sns_util .util>li:nth-child(3)::after,
    header .sns_util .util>li:nth-child(4)::after {content: ""; display: inline-block; width: 1px; height: 15px; background-color: rgb(77, 77, 77); position: absolute; top: 2px; margin-left: 6px;}
    header .sns_util .util>li>a {color: black;}
    header .sns_util .util>li>a:hover {text-decoration: underline;}
    /*상단 메뉴 (로그인, 회원가입 등등)*/

    header .sns_util .sns {display: flex; padding: 5px 0;}
    header .sns_util .sns>li {margin: 0 5px; position: relative;}
    header .sns_util .sns>li:nth-child(1)::after,
    header .sns_util .sns>li:nth-child(2)::after,
    header .sns_util .sns>li:nth-child(3)::after {content: ""; display: inline-block; width: 1px; height: 15px; background-color: rgb(77, 77, 77); position: absolute; top: 2px; margin-left: 6px;}
    header .sns_util .sns>li>a {color: black;}
    header .sns_util .sns>li>a>i {margin-right: 4px;}
    header .sns_util .sns>li:nth-child(1)>a>i {color: rgb(32, 66, 255);}
    header .sns_util .sns>li:nth-child(2)>a>i {color: rgb(211, 26, 26);}
    header .sns_util .sns>li:nth-child(3)>a>i {color: rgb(33, 202, 27);}
    header .sns_util .sns>li:nth-child(4)>a>i {color: rgb(5, 149, 233);}
    header .sns_util .sns>li>a:hover {text-decoration: underline;}
    /*상단 sns 링크*/

    header .logo_search {width: 1060px; margin: 0 auto; position: relative; padding-bottom: 10px; text-align: center;}
    /*로고*/

    header .logo_search form {position: absolute; right: 70px; top: -10px; border-bottom: 2px solid rgb(77, 77, 77); padding-bottom: 5px;}
    header .logo_search form fieldset {height: 100%; padding-top: 44px;}
    header .logo_search form fieldset input.search_box {border: none;}
    header .logo_search form fieldset input.search_box:focus {outline: none;}
    header .logo_search form fieldset button.search_btn {background-color: rgba(0, 0, 0, 0); border: none; outline: none; cursor: pointer;}
    header .logo_search form fieldset button.search_btn>i {font-size: 25px; color: rgb(88, 88, 88);}
    /*검색 박스*/
    
    #gnb {background-color: rgb(89, 91, 228); position: sticky; top: 0; z-index: 60; border-bottom: 3px solid rgb(72, 74, 182);}
    #gnb .gnb_container {width: 1060px; margin: 0 auto;}
    #gnb .gnb_container .main_menu {text-align: left;}
    #gnb .gnb_container .main_menu>li:first-child {margin-left: 20px;}
    #gnb .gnb_container .main_menu>li {display: inline-block; position: relative;}
    #gnb .gnb_container .main_menu>li>h2>a {color: rgb(255, 255, 255); font-size: 14px; display: inline-block; padding: 14px 35px;}
    #gnb .gnb_container .main_menu>li>h2>a:hover {background-color: rgb(81, 83, 209);}
    /*메인 메뉴*/
    
    #gnb .gnb_container .main_menu>li .sub_menu {position: absolute; z-index: 40; border: 2px solid rgb(89, 91, 228); top: 46px; white-space: nowrap; background-color: rgb(221, 229, 255); display: none;}
    #gnb .gnb_container .main_menu>li .sub_menu li {display: inline-block; position: relative;}
    #gnb .gnb_container .main_menu>li .sub_menu li::after {content: ""; display: inline-block; width: 1px; height: 15px; background-color: rgb(89, 91, 228); position: absolute; top: 10px;}
    #gnb .gnb_container .main_menu>li .sub_menu li>a {font-size: 14px; color: black; height: 100%; display: inline-block; padding: 8px 18px;}
    #gnb .gnb_container .main_menu>li .sub_menu li>a:hover {text-decoration: underline;}
    /*서브메뉴*/

    #gnb .gnb_container .main_menu>li .hot_search_bar {display: flex; background-color: rgb(221, 229, 255); margin-left: 65px; position: relative; width: 200px; padding: 4px 0 4px 10px; overflow: hidden; border-radius: 10px;}
    #gnb .gnb_container .main_menu>li .hot_search_bar>span {margin-right: 20px; color: rgb(0, 0, 0); position: relative;}
    #gnb .gnb_container .main_menu>li .hot_search_bar>span::after {content: ""; display: inline-block; width: 1px; height: 15px; background-color: rgb(89, 91, 228); position: absolute; top: 1px; left: 68px;}
    #gnb .gnb_container .main_menu>li .hot_search_bar>ul {position: absolute; top: 4px; left: 100px; width: 150px;}
    #gnb .gnb_container .main_menu>li .hot_search_bar>ul>li {position: relative;}
    #gnb .gnb_container .main_menu>li .hot_search_bar>ul>li>a {color: rgb(77, 77, 77); display: inline-block; height: 100%; padding: 3px 0 2px;}
    #gnb .gnb_container .main_menu>li .hot_search_bar>ul>li>img {position: absolute; top: 6px; left: -16px;}
    /*실시간 인기 검색어 (자동 스크롤)*/

    #gnb .gnb_container .main_menu>li .hot_search_all {position: absolute; width: 200px; top: -27px; left: -204px; background-color: rgb(221, 229, 255); padding: 5px 10px 5px; display: none;}
    #gnb .gnb_container .main_menu>li .hot_search_all>li>span {color: rgb(0, 0, 0); font-weight: bold; display: inline-block; padding-bottom: 3px; border-bottom: 2px solid rgb(89, 91, 228); margin-bottom: 6px; width: 100%;}
    #gnb .gnb_container .main_menu>li .hot_search_all>li {position: relative; margin-bottom: 6px; border-bottom: 1px dashed rgb(161, 161, 161); padding-bottom: 2px;}
    #gnb .gnb_container .main_menu>li .hot_search_all>li:first-child {border: none; margin-bottom: 0;}
    #gnb .gnb_container .main_menu>li .hot_search_all>li>a {color: rgb(77, 77, 77); padding-left: 18px;}
    #gnb .gnb_container .main_menu>li .hot_search_all>li>a:hover {text-decoration: underline;}
    #gnb .gnb_container .main_menu>li .hot_search_all>li>img {position: absolute; top: 2px; left: 0;}
    /*실시간 인기 검색어 전체 박스*/

    #gnb .mobile_logo {display: none;}
    #gnb .all_list {display: none;}
    #gnb .mobile_container {display: none;}
    /*모바일에서 보여줄 것들*/

    .middle_banner {width: 1060px; margin: 0 auto;}

    #bg_wrapper {background-image: url(../images/triangle-mosaic.png); background-repeat: repeat; background-attachment: fixed;}
    /* fixed 배경 Background pattern from Subtle Patterns */    

    /*회원가입 섹션 시작*/
    #register_container {width: 1060px; margin: 0 auto;}
    #register_container>h2 {text-align: center; font-size: 30px; padding: 20px 0;}
    #register_container form {background-color: rgba(255, 255, 255, 0);}
    #register_container form fieldset {width: 80%; margin: 0 auto; padding-bottom: 80px;}
    #register_container form fieldset h3 {border: 1px solid rgb(197, 197, 197); text-align: left; padding: 10px 0 10px 30px; background-color: white; border-bottom: 2px solid rgb(89, 91, 228); font-size: 16px;}
    #register_container form fieldset .service_agree>textarea {border: 1px solid rgb(197, 197, 197); width: 100%; margin-bottom: 10px; padding: 15px;}
    #register_container form fieldset .service_agree>p {text-align: right; position: relative; margin-right: 30px; margin-bottom: 20px; font-size: 16px;}
    #register_container form fieldset .service_agree>p>input {position: absolute; bottom: 0; right: -20px; margin-bottom: 2px;}
    #register_container form fieldset table.reg_info_1 {width: 100%; font-size: 16px; border-collapse: collapse; background-color: rgb(255, 255, 255); border: 1px solid rgb(197, 197, 197); border-bottom: none;}
    #register_container form fieldset table.reg_info_1 tr, td {padding: 10px 0 10px 20px;}
    #register_container form fieldset table.reg_info_1 tr:first-child>td>input {width: 150px; height: 30px;}
    #register_container form fieldset table.reg_info_1 tr:nth-child(3)>td>select {width: 70px; height: 30px;}
    #register_container form fieldset table.reg_info_1 tr:nth-child(3)>td>input {width: 100px; height: 30px;}
    #register_container form fieldset table.reg_info_1 tr:nth-child(3)>td>button {width: 105px; height: 30px; background-color: rgb(89, 91, 228); color: rgb(231, 231, 231); border: none;}
    #register_container form fieldset table.reg_info_1 tr:nth-child(4)>td>input {width: 110px; height: 30px;}
    #register_container form fieldset table.reg_info_1 tr:nth-child(4)>td>button {width: 50px; height: 30px; background-color: rgb(89, 91, 228); color: rgb(231, 231, 231); border: none;}
    #register_container form fieldset table.reg_info_1 tr:nth-child(5)>td>input {width: 150px; height: 30px; margin-right: 5px;}
    #register_container form fieldset table.reg_info_1 tr:nth-child(5)>td>select {width: 120px; height: 30px;}
    #register_container form fieldset table.reg_info_1 tr:last-child td {text-align: left; padding-left: 175px; height: 100%;}
    #register_container form fieldset table.reg_info_1 tr:last-child td>input {margin-top: 5px;}

    #register_container form fieldset table.reg_info_2 {width: 100%; font-size: 16px; border-collapse: collapse; background-color: rgb(255, 255, 255); border: 1px solid rgb(197, 197, 197); border-top: none;}
    #register_container form fieldset table.reg_info_2 tr, td {padding: 10px 0 10px 20px;}
    #register_container form fieldset table.reg_info_2 tr>td:first-child {width: 18.3%;}
    #register_container form fieldset table.reg_info_2 tr>td:last-child {width: 81.7%;}
    #register_container form fieldset table.reg_info_2 tr>td:last-child input {width: 235px; height: 30px;}
    #register_container form fieldset div.submit_cancel {text-align: center; padding: 30px 0 10px;}
    #register_container form fieldset div.submit_cancel input {width: 50px; height: 30px; margin-right: 10px; background-color: rgb(89, 91, 228); color: rgb(231, 231, 231); border: none;}
    #register_container form fieldset div.submit_cancel button {width: 50px; height: 30px; background-color: rgb(89, 91, 228); color: rgb(231, 231, 231); border: none;}
    /*회원가입 섹션 끝*/

    /*후터 시작*/
    footer .footer_top {background-color: rgb(75, 75, 75);}
    footer .footer_top .footer_top_container {width: 1060px; margin: 0 auto;}
    footer .footer_top .footer_top_container>p {text-align: center; padding-top: 15px;}
    footer .footer_top .footer_top_container>ul {display: flex; justify-content: center; padding: 18px 0;}
    footer .footer_top .footer_top_container>ul>li {margin: 0 10px; position: relative;}
    footer .footer_top .footer_top_container>ul>li:nth-child(2) {font-weight: bold;}
    footer .footer_top .footer_top_container>ul>li:nth-child(2)::after, 
    footer .footer_top .footer_top_container>ul>li:nth-child(3)::after, 
    footer .footer_top .footer_top_container>ul>li:nth-child(4)::after, 
    footer .footer_top .footer_top_container>ul>li:nth-child(5)::after, 
    footer .footer_top .footer_top_container>ul>li:nth-child(6)::after {content: ""; display: inline-block; width: 1px; height: 18px; background-color: rgb(105, 105, 105); position: absolute; top: 0px; left: -10px;}
    footer .footer_top .footer_top_container>ul>li>span {color: rgb(197, 197, 197);}
    footer .footer_top .footer_top_container>ul>li>a {color: rgb(197, 197, 197);}
    footer .footer_top .footer_top_container>ul>li>a:hover {text-decoration: underline;}
    /*후터 상단*/

    footer .footer_bottom {background-color: rgb(59, 59, 59);}
    footer .footer_bottom .footer_bottom_container {width: 1060px; margin: 0 auto;}
    footer .footer_bottom .footer_bottom_container>ul {display: flex; color: rgb(197, 197, 197); justify-content: center; padding: 15px 0;}
    footer .footer_bottom .footer_bottom_container>ul>li {margin: 0 10px;}
    footer .footer_bottom .footer_bottom_container>p.footer_logo {display: none;}
    footer .footer_bottom .footer_bottom_container>p.copyright {text-align: center; color: rgb(197, 197, 197); padding: 10px 0 15px;}
    /*후터 하단*/
    /*후터 끝*/

    aside.left_banner {top: 280px; left: 35px; position: absolute; height: 1200px;}
    aside.left_banner>a {position: sticky; top: 49px; display: block;}
    /*왼쪽 광고 배너*/

    aside.right_menu {top: 24.8%; right: 40px; position: absolute; z-index: 40; height: 920px;}
    aside.right_menu .hot_post {border: 1px solid rgb(197, 197, 197); width: 300px; background-color: white; position: sticky; top: 48px; border-top: none;}
    aside.right_menu .hot_post .hot_post_list>li {padding: 5px 0 5px 10px; border-bottom: 1px solid gray; white-space: nowrap; border-left: 2px solid rgb(89, 91, 228); border-right: 2px solid rgb(89, 91, 228);}
    aside.right_menu .hot_post .hot_post_list>li:first-child {background-color: rgb(89, 91, 228); position: relative;}
    aside.right_menu .hot_post .hot_post_list>li:first-child>img {margin-right: 10px; position: absolute; top: 7px;}
    aside.right_menu .hot_post .hot_post_list>li:first-child h2 {font-size: 16px; color: white; margin-left: 30px; display: inline-block;}
    aside.right_menu .hot_post .hot_post_list>li:first-child a.more {color: white; margin-left: 80px;}
    aside.right_menu .hot_post .hot_post_list>li:nth-child(even) {background-color: rgb(231, 231, 231);}
    aside.right_menu .hot_post .hot_post_list>li:nth-child(10) span {color: red;}
    aside.right_menu .hot_post .hot_post_list>li:last-child {border-bottom: 3px solid rgb(89, 91, 228);}
    aside.right_menu .hot_post .hot_post_list>li>a {color: rgb(0, 0, 0); margin-left: 8px;}
    aside.right_menu .hot_post .hot_post_list>li>a:hover {text-decoration: underline;}
    aside.right_menu .hot_post .hot_post_list>li>span:last-child {color: red; margin-left: 4px;}
    aside.right_menu .right_banner {margin-top: 15px; height: 100%;}
    aside.right_menu .right_banner>a {position: sticky; top: 800px;}
    /*오른쪽 사이드 메뉴*/
}

@media (min-width:1024px) and (max-width:1700px){
    aside.left_banner {display: none;}
    /*왼쪽 광고 배너*/
    aside.right_menu .hot_post {display: none;}
    aside.right_menu .right_banner {display: none;}
    /*사이드메뉴 사라지게*/
}

@media (min-width:768px) and (max-width:1023px){
    header .header_banner {height: 60px; position: relative;}
    header .header_banner .header_banner_image {height: 100%; display: block; background-image: url(/images/ad_banner/header_banner_2.jpg);}
    header .header_banner .banner_close {position: absolute; top: 40px; right: 0; background-color: rgb(0, 0, 0); color: white;}
    header .header_banner .banner_close>i {color: rgb(219, 219, 219); font-size: 16px;}
    /*최상단 광고 배너*/
   
    header .sns_util {display: flex; justify-content: space-between; width: 95%; margin: 0 auto;}

    header .sns_util .util {display: flex; padding: 5px 0;}
    header .sns_util .util>li {margin-left: 15px; position: relative;}
    header .sns_util .util>li:nth-child(1)::after,
    header .sns_util .util>li:nth-child(2)::after,
    header .sns_util .util>li:nth-child(3)::after,
    header .sns_util .util>li:nth-child(4)::after {content: ""; display: inline-block; width: 1px; height: 15px; background-color: rgb(77, 77, 77); position: absolute; top: 2px; margin-left: 6px;}
    header .sns_util .util>li>a {color: black;}
    header .sns_util .util>li>a:hover {text-decoration: underline;}
    /*상단 메뉴 (로그인, 회원가입 등등)*/

    header .sns_util .sns {display: flex; padding: 5px 0;}
    header .sns_util .sns>li {margin: 0 5px; position: relative;}
    header .sns_util .sns>li:nth-child(1)::after,
    header .sns_util .sns>li:nth-child(2)::after,
    header .sns_util .sns>li:nth-child(3)::after {content: ""; display: inline-block; width: 1px; height: 15px; background-color: rgb(77, 77, 77); position: absolute; top: 2px; margin-left: 6px;}
    header .sns_util .sns>li>a {color: black;}
    header .sns_util .sns>li>a>i {margin-right: 4px;}
    header .sns_util .sns>li:nth-child(1)>a>i {color: rgb(32, 66, 255);}
    header .sns_util .sns>li:nth-child(2)>a>i {color: rgb(211, 26, 26);}
    header .sns_util .sns>li:nth-child(3)>a>i {color: rgb(33, 202, 27);}
    header .sns_util .sns>li:nth-child(4)>a>i {color: rgb(5, 149, 233);}
    header .sns_util .sns>li>a:hover {text-decoration: underline;}
    /*상단 sns 링크*/

    header .logo_search {width: 95%; margin: 0 auto; position: relative; padding-bottom: 10px; text-align: center;}
    header .logo_search .all_menu_box {display: none;}
    /*로고*/

    header .logo_search form {position: absolute; right: 30px; top: -10px; border-bottom: 2px solid rgb(77, 77, 77); padding-bottom: 5px;}
    header .logo_search form fieldset {height: 100%; padding-top: 44px;}
    header .logo_search form fieldset input.search_box {border: none;}
    header .logo_search form fieldset input.search_box:focus {outline: none;}
    header .logo_search form fieldset button.search_btn {background-color: rgba(0, 0, 0, 0); border: none; outline: none; cursor: pointer;}
    header .logo_search form fieldset button.search_btn>i {font-size: 25px; color: rgb(88, 88, 88);}
    /*검색 박스*/

    #gnb {background-color: rgb(89, 91, 228); position: sticky; top: 0; z-index: 60; border-bottom: 3px solid rgb(72, 74, 182);}
    #gnb .gnb_container {width: 95%; margin: 0 auto;}
    #gnb .gnb_container .main_menu {text-align: left; white-space: nowrap;}
    #gnb .gnb_container .main_menu>li {display: inline-block; position: relative;}
    #gnb .gnb_container .main_menu>li>h2>a {color: rgb(255, 255, 255); font-size: 1.6vw; display: inline-block; padding: 14px 17px;}
    #gnb .gnb_container .main_menu>li>h2>a:hover {background-color: rgb(81, 83, 209);}
    /*메인 메뉴*/

    #gnb .gnb_container .main_menu>li .sub_menu {position: absolute; z-index: 40; border: 2px solid rgb(89, 91, 228); top: 46px; white-space: nowrap; background-color: rgb(221, 229, 255); display: none;;}
    #gnb .gnb_container .main_menu>li .sub_menu li {display: inline-block; position: relative;}
    #gnb .gnb_container .main_menu>li .sub_menu li::after {content: ""; display: inline-block; width: 1px; height: 15px; background-color: rgb(89, 91, 228); position: absolute; top: 10px;}
    #gnb .gnb_container .main_menu>li .sub_menu li>a {font-size: 14px; color: black; height: 100%; display: inline-block; padding: 8px 18px;}
    #gnb .gnb_container .main_menu>li .sub_menu li>a:hover {text-decoration: underline;}
    /*서브메뉴*/

    #gnb .gnb_container .main_menu>li .hot_search_bar {display: flex; background-color: rgb(221, 229, 255); position: relative; width: 200px; padding: 4px 0 4px 10px; overflow: hidden; border-radius: 10px; margin-left: 30px;}
    #gnb .gnb_container .main_menu>li .hot_search_bar>span {margin-right: 20px; color: rgb(0, 0, 0); position: relative;}
    #gnb .gnb_container .main_menu>li .hot_search_bar>span::after {content: ""; display: inline-block; width: 1px; height: 15px; background-color: rgb(89, 91, 228); position: absolute; top: 1px; left: 68px;}
    #gnb .gnb_container .main_menu>li .hot_search_bar>ul {position: absolute; top: 4px; left: 100px; width: 150px;}
    #gnb .gnb_container .main_menu>li .hot_search_bar>ul>li {position: relative;}
    #gnb .gnb_container .main_menu>li .hot_search_bar>ul>li>a {color: rgb(77, 77, 77); display: inline-block; height: 100%; padding: 3px 0 2px;}
    #gnb .gnb_container .main_menu>li .hot_search_bar>ul>li>img {position: absolute; top: 6px; left: -16px;}
    /*실시간 인기 검색어 (자동 스크롤)*/

    #gnb .gnb_container .main_menu>li .hot_search_all {position: absolute; width: 200px; top: -27px; left: -204px; background-color: rgb(221, 229, 255); padding: 5px 10px 5px; display: none;}
    #gnb .gnb_container .main_menu>li .hot_search_all>li>span {color: rgb(0, 0, 0); font-weight: bold; display: inline-block; padding-bottom: 3px; border-bottom: 2px solid rgb(89, 91, 228); margin-bottom: 6px; width: 100%;}
    #gnb .gnb_container .main_menu>li .hot_search_all>li {position: relative; margin-bottom: 6px; border-bottom: 1px dashed rgb(161, 161, 161); padding-bottom: 2px;}
    #gnb .gnb_container .main_menu>li .hot_search_all>li:first-child {border: none; margin-bottom: 0;}
    #gnb .gnb_container .main_menu>li .hot_search_all>li>a {color: rgb(77, 77, 77); padding-left: 18px;}
    #gnb .gnb_container .main_menu>li .hot_search_all>li>a:hover {text-decoration: underline;}
    #gnb .gnb_container .main_menu>li .hot_search_all>li>img {position: absolute; top: 2px; left: 0;}
    /*실시간 인기 검색어 전체 박스*/

    #gnb .mobile_logo {display: none;}
    #gnb .all_list {display: none;}
    #gnb .mobile_container {display: none;}
    /*모바일에서 보여줄 것들*/

    #bg_wrapper {background-image: url(../images/triangle-mosaic.png); background-repeat: repeat; background-attachment: fixed;}
    /* fixed 배경 Background pattern from Subtle Patterns */

    /*회원가입 섹션 시작*/
    #register_container {width: 95%; margin: 0 auto;}
    #register_container>h1 {text-align: center; font-size: 30px; padding: 20px 0;}
    #register_container form {background-color: rgba(255, 255, 255, 0);}
    #register_container form fieldset {width: 80%; margin: 0 auto; padding-bottom: 80px;}
    #register_container form fieldset h3 {border: 1px solid rgb(197, 197, 197); text-align: left; padding: 10px 0 10px 30px; background-color: white; border-bottom: 2px solid rgb(89, 91, 228); font-size: 16px;}
    #register_container form fieldset .service_agree>textarea {border: 1px solid rgb(197, 197, 197); width: 100%; margin-bottom: 10px; padding: 15px;}
    #register_container form fieldset .service_agree>p {text-align: right; position: relative; margin-right: 30px; margin-bottom: 20px; font-size: 16px;}
    #register_container form fieldset .service_agree>p>input {position: absolute; bottom: 0; right: -20px; margin-bottom: 2px;}
    #register_container form fieldset table.reg_info_1 {width: 100%; font-size: 16px; border-collapse: collapse; background-color: rgb(255, 255, 255); border: 1px solid rgb(197, 197, 197); border-bottom: none;}
    #register_container form fieldset table.reg_info_1 tr, td {padding: 10px 0 10px 20px;}
    #register_container form fieldset table.reg_info_1 tr:first-child>td>input {width: 150px; height: 30px;}
    #register_container form fieldset table.reg_info_1 tr:nth-child(3)>td>select {width: 70px; height: 30px;}
    #register_container form fieldset table.reg_info_1 tr:nth-child(3)>td>input {width: 100px; height: 30px;}
    #register_container form fieldset table.reg_info_1 tr:nth-child(3)>td>button {width: 105px; height: 30px; background-color: rgb(89, 91, 228); color: rgb(231, 231, 231); border: none;}
    #register_container form fieldset table.reg_info_1 tr:nth-child(4)>td>input {width: 110px; height: 30px;}
    #register_container form fieldset table.reg_info_1 tr:nth-child(4)>td>button {width: 50px; height: 30px; background-color: rgb(89, 91, 228); color: rgb(231, 231, 231); border: none;}
    #register_container form fieldset table.reg_info_1 tr:nth-child(5)>td>input {width: 150px; height: 30px; margin-right: 5px;}
    #register_container form fieldset table.reg_info_1 tr:nth-child(5)>td>select {width: 120px; height: 30px;}
    #register_container form fieldset table.reg_info_1 tr:last-child td {text-align: left; padding-left: 175px; height: 100%;}
    #register_container form fieldset table.reg_info_1 tr:last-child td>input {margin-top: 5px;}

    #register_container form fieldset table.reg_info_2 {width: 100%; font-size: 16px; border-collapse: collapse; background-color: rgb(255, 255, 255); border: 1px solid rgb(197, 197, 197); border-top: none;}
    #register_container form fieldset table.reg_info_2 tr, td {padding: 10px 0 10px 20px;}
    #register_container form fieldset table.reg_info_2 tr>td:first-child {width: 18.3%; white-space: nowrap;}
    #register_container form fieldset table.reg_info_2 tr>td:last-child {width: 81.7%;}
    #register_container form fieldset table.reg_info_2 tr>td:last-child input {width: 235px; height: 30px;}
    #register_container form fieldset div.submit_cancel {text-align: center; padding: 30px 0 10px;}
    #register_container form fieldset div.submit_cancel input {width: 50px; height: 30px; margin-right: 10px; background-color: rgb(89, 91, 228); color: rgb(231, 231, 231); border: none;}
    #register_container form fieldset div.submit_cancel button {width: 50px; height: 30px; background-color: rgb(89, 91, 228); color: rgb(231, 231, 231); border: none;}
    /*회원가입 섹션 끝*/

    /*후터 시작*/
    footer .footer_top {background-color: rgb(75, 75, 75);}
    footer .footer_top .footer_top_container {width: 95%; margin: 0 auto;}
    footer .footer_top .footer_top_container>p {text-align: center; padding-top: 15px;}
    footer .footer_top .footer_top_container>ul {display: flex; justify-content: center; padding: 18px 0; white-space: nowrap;}
    footer .footer_top .footer_top_container>ul>li {margin: 0 5px; position: relative; display: inline-block;}
    footer .footer_top .footer_top_container>ul>li:nth-child(2) {font-weight: bold;}
    footer .footer_top .footer_top_container>ul>li:nth-child(2)::after, 
    footer .footer_top .footer_top_container>ul>li:nth-child(3)::after, 
    footer .footer_top .footer_top_container>ul>li:nth-child(4)::after, 
    footer .footer_top .footer_top_container>ul>li:nth-child(5)::after, 
    footer .footer_top .footer_top_container>ul>li:nth-child(6)::after {content: ""; display: inline-block; width: 1px; height: 18px; background-color: rgb(105, 105, 105); position: absolute; top: 0px; left: -10px;}
    footer .footer_top .footer_top_container>ul>li>span {color: rgb(197, 197, 197);}
    footer .footer_top .footer_top_container>ul>li>a {color: rgb(197, 197, 197);}
    footer .footer_top .footer_top_container>ul>li>a:hover {text-decoration: underline;}
    /*후터 상단*/

    footer .footer_bottom {background-color: rgb(59, 59, 59);}
    footer .footer_bottom .footer_bottom_container {width: 95%; margin: 0 auto;}
    footer .footer_bottom .footer_bottom_container>ul {display: flex; color: rgb(197, 197, 197); justify-content: center; padding: 15px 0;}
    footer .footer_bottom .footer_bottom_container>ul>li {margin: 0 10px;}
    footer .footer_bottom .footer_bottom_container>p.footer_logo {display: none;}
    footer .footer_bottom .footer_bottom_container>p.copyright {text-align: center; color: rgb(197, 197, 197); padding: 10px 0 15px;}
    /*후터 하단*/
    /*후터 끝*/

    aside.left_banner {display: none;}
    /*왼쪽 광고 배너*/

    aside.right_menu {display: none;}
    /*오른쪽 사이드 메뉴*/
}
/*태블릿 화면 끝*/

/*모바일 화면 시작*/
@media (max-width:767px){
    header {display: none;}
    
    #gnb {background-color: rgb(89, 91, 228); position: sticky; top: 0; z-index: 60; border-bottom: 3px solid rgb(72, 74, 182); padding: 10px 0 6px 5px;}
    #gnb .gnb_container {width: 95%; margin: 0 auto; position: relative;}
    #gnb .gnb_container .main_menu {display: none;}
    #gnb .gnb_container .all_list {font-size: 35px; position: absolute; top: 0px; left: 88%;padding: 8px; border-radius: 4px; cursor: pointer;}
    #gnb .mobile_container {position: absolute; top: 73px; left: 0; background-color: rgb(221, 229, 255); width: 100%; border: 2px solid rgb(89, 91, 228);}
    #gnb .mobile_container .mobile_menu {display: none;}
    #gnb .mobile_container .mobile_menu>li::after {content: ""; display: block; clear: both;}
    #gnb .mobile_container .mobile_menu>li {white-space: nowrap; border-bottom: 1px solid rgb(179, 179, 179);}
    #gnb .mobile_container .mobile_menu>li:first-child {padding: 10px 0; text-align: left; background-color: rgb(221, 229, 255); border-bottom: 1px solid rgb(72, 74, 182); position: relative;}
    #gnb .mobile_container .mobile_menu>li:first-child>a {margin-left: 10px; color: black; position: relative;}
    #gnb .mobile_container .mobile_menu>li:first-child>a:first-child::after, .mobile_menu>li:first-child>a:nth-child(2)::after {content: ""; display: inline-block; width: 1px; height: 13px; background-color: rgb(72, 74, 182); position: absolute; top: 2px; left: 115%;}
    #gnb .mobile_container .mobile_menu>li:first-child>a:hover {text-decoration: underline;}
    #gnb .mobile_container .mobile_menu>li:first-child>a>i {margin-right: 5px;}

    #gnb .mobile_container .mobile_menu>li:first-child form {position: absolute; right: 10px; top: 5px; border-bottom: 2px solid rgb(77, 77, 77); padding-bottom: 5px;}
    #gnb .mobile_container .mobile_menu>li:first-child form fieldset {height: 100%;}
    #gnb .mobile_container .mobile_menu>li:first-child form fieldset input.search_box_mobile {border: none; width: 120px; background-color: rgba(255, 255, 255, 0);}
    #gnb .mobile_container .mobile_menu>li:first-child form fieldset input.search_box_mobile    :focus {outline: none;}
    #gnb .mobile_container .mobile_menu>li:first-child form fieldset button.search_btn {background-color: rgba(0, 0, 0, 0); border: none; outline: none; cursor: pointer;}
    #gnb .mobile_container .mobile_menu>li:first-child form fieldset button.search_btn>i {font-size: 20px; color: rgb(88, 88, 88);}
    /*모바일 메뉴 검색 박스*/
    #gnb .mobile_container .mobile_menu>li:last-child {border: none;}
    #gnb .mobile_container .mobile_menu>li>h2 {float: left; width: 20%; text-align: center; position: relative;}
    #gnb .mobile_container .mobile_menu>li>h2::after {content: ""; display: inline-block; width: 1px; height: 20px; background-color: rgb(72, 74, 182); position: absolute; top: 5px; left: 95%;}
    #gnb .mobile_container .mobile_menu>li>h2>a {color: rgb(0, 0, 0); font-size: 14px;} 
    #gnb .mobile_container .mobile_menu>li>ul.sub_menu {float: right; width: 80%;}
    #gnb .mobile_container .mobile_menu>li>ul.sub_menu>li {display: inline-block; padding-right: 2.5%;}
    #gnb .mobile_container .mobile_menu>li>ul.sub_menu>li:first-child {padding-left: 10px;}
    #gnb .mobile_container .mobile_menu>li>ul.sub_menu>li>a {color: black; display: inline-block; padding: 6px 5px; font-size: 14px;}
    #gnb .mobile_container .mobile_menu>li>ul.sub_menu>li>a:hover {text-decoration: underline;}
    #gnb .mobile_container .mobile_menu>.all_list_close {background-color: rgb(89, 91, 228); text-align: right;}
    #gnb .mobile_container .mobile_menu>.all_list_close a {display: inline-block; padding: 5px 0; width: 100%; color: black; padding-right: 20px;}
    /*모바일 헤더*/

    #bg_wrapper {background-image: url(../images/triangle-mosaic.png); background-repeat: repeat; background-attachment: fixed;}
    /* fixed 배경 Background pattern from Subtle Patterns */

    #bg_wrapper .mobile_log_search>div.hot_search_bar {display: none;}
    /*실시간 인기 검색어*/
    .middle_banner {display: none;}
    /*중간 배너 숨기기*/

    /*회원가입 섹션 시작*/
    #register_container {width: 95%; margin: 0 auto;}
    #register_container>h1 {text-align: center; font-size: 30px; padding: 20px 0;}
    #register_container form {background-color: rgba(255, 255, 255, 0);}
    #register_container form fieldset {width: 80%; margin: 0 auto; padding-bottom: 80px;}
    #register_container form fieldset h3 {border: 1px solid rgb(197, 197, 197); text-align: left; padding: 10px 0 10px 30px; background-color: white; border-bottom: 2px solid rgb(89, 91, 228); font-size: 16px;}
    #register_container form fieldset .service_agree>textarea {border: 1px solid rgb(197, 197, 197); width: 100%; margin-bottom: 10px; padding: 15px;}
    #register_container form fieldset .service_agree>p {text-align: right; position: relative; margin-right: 30px; margin-bottom: 20px; font-size: 16px;}
    #register_container form fieldset .service_agree>p>input {position: absolute; bottom: 0; right: -20px; margin-bottom: 2px;}
    #register_container form fieldset table.reg_info_1 {width: 100%; font-size: 16px; border-collapse: collapse; background-color: rgb(255, 255, 255); border: 1px solid rgb(197, 197, 197); border-bottom: none;}
    #register_container form fieldset table.reg_info_1 tr, td {padding: 10px 0 10px 20px;}
    #register_container form fieldset table.reg_info_1 td:first-child {white-space: nowrap;}
    #register_container form fieldset table.reg_info_1 tr:first-child>td>input {width: 150px; height: 30px;}
    #register_container form fieldset table.reg_info_1 tr:nth-child(3)>td>select {width: 15%; height: 30px;}
    #register_container form fieldset table.reg_info_1 tr:nth-child(3)>td>input {width: 20%; height: 30px;}
    #register_container form fieldset table.reg_info_1 tr:nth-child(3)>td>button {width: 34%; height: 30px; background-color: rgb(89, 91, 228); color: rgb(231, 231, 231); border: none;}
    #register_container form fieldset table.reg_info_1 tr:nth-child(4)>td>input {width: 110px; height: 30px;}
    #register_container form fieldset table.reg_info_1 tr:nth-child(4)>td>button {width: 50px; height: 30px; background-color: rgb(89, 91, 228); color: rgb(231, 231, 231); border: none;}
    #register_container form fieldset table.reg_info_1 tr:nth-child(5)>td>input {width: 30%; height: 30px; margin-right: 5px;}
    #register_container form fieldset table.reg_info_1 tr:nth-child(5)>td>select {width: 120px; height: 30px;}
    #register_container form fieldset table.reg_info_1 tr:last-child td {text-align: left; padding-left: 5%; height: 100%;}
    #register_container form fieldset table.reg_info_1 tr:last-child td>input {margin-top: 5px;}

    #register_container form fieldset table.reg_info_2 {width: 100%; font-size: 16px; border-collapse: collapse; background-color: rgb(255, 255, 255); border: 1px solid rgb(197, 197, 197); border-top: none;}
    #register_container form fieldset table.reg_info_2 tr, td {padding: 10px 0 10px 20px;}
    #register_container form fieldset table.reg_info_2 tr>td:first-child {width: 15%; white-space: nowrap;}
    #register_container form fieldset table.reg_info_2 tr>td:last-child {width: 85%;}
    #register_container form fieldset table.reg_info_2 tr>td:last-child input {width: 92%; height: 30px;}
    #register_container form fieldset div.submit_cancel {text-align: center; padding: 30px 0 10px;}
    #register_container form fieldset div.submit_cancel input {width: 50px; height: 30px; margin-right: 10px; background-color: rgb(89, 91, 228); color: rgb(231, 231, 231); border: none;}
    #register_container form fieldset div.submit_cancel button {width: 50px; height: 30px; background-color: rgb(89, 91, 228); color: rgb(231, 231, 231); border: none;}
    /*회원가입 섹션 끝*/

    /*후터 시작*/
    footer .footer_top {display: none;}
    /*후터 상단*/

    footer .footer_bottom {background-color: rgb(59, 59, 59);}
    footer .footer_bottom .footer_bottom_container {width: 100%;}
    footer .footer_bottom .footer_bottom_container>ul {display: none;}
    footer .footer_bottom .footer_bottom_container>p.footer_logo {text-align: center; padding: 10px 0;}
    footer .footer_bottom .footer_bottom_container>p.copyright {text-align: center; color: rgb(197, 197, 197); padding-bottom: 20px;}
    /*후터 하단*/
    /*후터 끝*/

    aside.left_banner {display: none;}
    /*왼쪽 광고 배너*/

    aside.right_menu {display: none;}
    /*오른쪽 사이드 메뉴*/
}